.backgroundProps {
	background-size: cover;
	background-position: center;
}
.Coolors {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/xemov4pnu9n428wtm1wh");
}

.Waves {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/ava9r72aczepz6z49uoi");
}

.Shapes {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/lsjrc87lqxn5o0sjxf7t");
}

.Yellow {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/lsai1bt2dkh4eqqat9su");
}
.Bubbles {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/y6jyer5nuvlrdyiizyj1");
}
