.onePiece {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/xemov4pnu9n428wtm1wh");
}

.waves {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/ava9r72aczepz6z49uoi");
}

.shapes {
	background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/Wallpaper/lsjrc87lqxn5o0sjxf7t");
}
