.whimsy{
    background-image: url('https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/zrrykc7fnypyfhdfcr4j');
}
.express{
    background-image: url('https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/wbxdxxyajpzov2b0v9tv');
}
.portfolio{
    background-image: url('https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/wtsx3dbeaqqoa1cbilwe');
}