.whimsy{
    background-image: url('https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/bgndktzxfsdfggtdyokg');
}
.express{
    background-image: url('https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/bgndktzxfsdfggtdyokg');
}
.portfolio{
    background-image: url('https://res.cloudinary.com/dbwomkmnq/image/upload/f_auto,q_auto/v1/Portfolio/e3wlvxiplb9g91qjkjx3');
}